@use '../../presets' as *;
@use '../../mixins' as *;

.special {
    background-color: rgba(9, 166, 109, 0.05);
    margin-bottom: 95px;
}

.special-box {
    display: flex;
    gap: 50px;
    padding-top: 80px;
        padding-bottom: 140px;
}

.container {}

.special-box__picture {}

.special-box__image {}

.special-box__content {
    position: relative;
}

.special-box__content-title {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.special-box__content-description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
    margin-bottom: 30px;
}

.special-box__action {}

.action {}

.special-box__action-text {}

.action-text {}

.special-box__action-link {}

.action-link {}

.special-box__action-image {}

.action-image {}

.special-box__content-picture {
   
}

.special-box__content-image {
position: absolute;
right: -200px;
bottom: -120px;
}
