@use '../../presets' as *;
@use '../../mixins' as *;

.header {
  margin-bottom: 140px;
}

.header-menu {
    display: flex;

    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
