@use "../../presets" as *;
@use "../../mixins" as *;

.header-info {
    background: #F3FBF8;
    position: relative;
    z-index: -2;
}

.header-info__container {
    position: relative;


}


.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;

    &__title {
        font-family: 'Rosario';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 90px;
    }

    &__description {
        text-align: center;
        width: 638px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #555555;
        margin-bottom: 40px;
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 20px;


        &-text {}

        &-link {
            width: 64px;
            height: 64px;
            border-radius: 60px;
            background: #09A66D;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-image {}
    }


    &__bg {
        position: absolute;
        left: -59px;
        top: -37px;
        z-index: -1;


        &-image {}

    }
}


.header-rating {
    display: flex;
    gap: 107px;


    &__picture {}

    &__image {}

    &__block {}

    &__item {
        display: flex;
        gap: 24px;
        justify-content: flex-start;
        margin-bottom: 30px;
        width: 250px;
        height: 116px;
        background-color: #ffffff;
        align-items: center;
        padding-left: 33px;

        &-picture {}

        &-image {}

        &-text {
            max-width: 104px;
        }

        &-title {
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            color: #000000;
        }

        &-description {
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #000000;
        }

    }
}