@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu__navbar {}

.header-navbar {}

.header-navbar__list {
    display: flex;
    gap: 40px;
}

.header-navbar__item {}



.header-navbar__link {
    padding: 10px 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    transition: 0.5s;
}

.header-navbar__link:hover {
    background: #09A66D;
    border-radius: 8px;
    color: #ffffff;
    //padding: 10px 0px;
    transform: scale(1.1);

}

.active {
    background: #09A66D;
    border-radius: 8px;
    color: #ffffff;
    //padding: 10px;
}

.header-menu__logo {

    @include lg {
        order: -1;
    }
}

.header-menu__image {
    transition: 0.5s;

}

.header-menu__image:hover {
    transform: scale(1.5);
}

.header-menu__client {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-client {}

.header-client__search {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3FBF8;
    border-radius: 20px;
}

.header-client__search-link {

    //align-items: center;
    // display: block;
    // margin-top: auto;
    // margin-bottom: auto;
}

.header-client__search-image {}

.header-client__basket {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3FBF8;
    border-radius: 20px;
}

.header-client__basket-link {}

.header-client__basket-image {}

.header-client__regestar {}

.header-client__button {
    min-width: 160px;
    height: 40px;
    border: none;
    background: #09A66D;
    border-radius: 8px;

    &:hover {
        box-shadow: 0 0 15px green;
    }
}

.header-client__button-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    padding: 10px;


}

.navbar-hamburger {

}


/* Icon 1 */
// !вместо id #nav-icon1 ставим имя своего класса
// !обязательно прописываем название класса в файле js

.navbar-hamburger {
    position: relative;
    // *уменьшаем физические габариты гамбургерга, уменьшаем в два раза (делим размеры на 2)
    // width: 60px;

    width: 30px;
    // height: 45px;
    height: 22.5px;
    // margin: 50px auto;
    margin: 25px auto;

    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);
    // гамбургер отображается менше 768px

    @include md-min {
        display: none;
    }

    span {
        position: absolute;
        left: 0;
        // *уменьшаем физические размеры шрифта, уменьшаем в два раза (делим размеры на 2)

        display: block;

        width: 100%;
        // height: 9px;
        height: 5px;

        transition: 0.25s ease-in-out;
        transform: rotate(0deg);

        opacity: 1;
        // border-radius: 9px;
        border-radius: 3px;
        background: red;

        // можно поменять цвета
        &:nth-child(1) {
            top: 0;

            background: #a4a14a;
        }

        &:nth-child(2) {
            // top: 18px;
            top: 9px;

            background: #ffc500;
        }

        &:nth-child(3) {
            // top: 36px;
            top: 18px;

            background: #ff6336;
        }
    }

    &.open span:nth-child(1) {
        // top: 18px;
        top: 9px;

        transform: rotate(135deg);
    }

    &.open span:nth-child(2) {
        // left: -60px;
        left: -30px;

        opacity: 0;
    }

    &.open span:nth-child(3) {
        // top: 18px;
        top: 9px;

        transform: rotate(-135deg);
    }
}