@use '../../presets' as *;
@use '../../mixins' as *;

.header {
    // height: 100vh;
}

.header-menu
{
    display: flex;

    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
